<div class="pf1">
  <MARQUEE style="background-image: url(https://img.freepik.com/foto-gratis/desenfoque-lujo-abstracto-gradiente-color-gris-utilizado-como-pared-estudio-fondo-exhibir-sus-productos_1258-71462.jpg?w=2000);" WIDTH=100% HEIGHT=20 ALIGN=BOTTOM>
    <a style="margin:100px ;">¡Envíos gratuitos!</a>
    <a style="margin:100px ;">¡Promociones en toda Colombia!</a>
    <a style="margin:100px ;">¡Descuento en tu primera compra!</a>
    <a style="margin:100px ;">¡Devoluciones gratuitas!</a>
  
  </MARQUEE>
  </div>
  
  <mat-toolbar style="background-image: url();" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span><a routerLink="/" style="text-align: center; font-family: 'Quicksand', sans-serif; text-decoration: double; font-size: 25px; text-decoration: none; color: black;">Inicio</a></span>
    <span class="example-spacer"></span>
    <span><a routerLink="contactenos"style="text-align: center; font-family: 'Quicksand', sans-serif; text-decoration: double; font-size: 25px; text-decoration: none; color: black;">Ubicación</a></span>
    <span class="example-spacer"></span>
    <span><a routerLink="/admin"style="text-align: center; font-family: 'Quicksand', sans-serif; text-decoration: double; font-size: 25px; text-decoration: none; color: black;"> Administrador</a></span>
    <span class="example-spacer"></span>
    <span><a routerLink="/contactenos"style="text-align: center; font-family: 'Quicksand', sans-serif; text-decoration: double; font-size: 25px; text-decoration: none; color: black;"> Contáctos</a></span>
    <span class="example-spacer"></span>
    <span><a routerLink="/pqrs" style="text-align: center; font-family: 'Quicksand', sans-serif; text-decoration: double; font-size: 25px; text-decoration: none; color: black;">PQRS</a></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    </button>
    <div class="m-3">
    {{user.fullName}}
  </div>


    <div class=" rounded border-dark " [matMenuTriggerFor]='menu' >
      <img class ="img-circle img-fluid rounded-circle border border-3" [src]="profile?.photoProfile" width="50">
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item (click)="fileInput.click()">
        <mat-icon>imagePublication</mat-icon>
        <span>Cambiar Foto</span>
      </button>
      <input hidden #fileInput accept="image/*" type="file" id="myFile" name="filename" (change)="changePhoto($event)">

      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>

<!--  -->
      </button>
    </mat-menu>
    <!-- <button mat-raised-button class="m-2" (click)="logout()">cerrar sesion</button>-->
  </mat-toolbar>
