

    <div class="container justify-content-center shadow-lg">


        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile class="pf3" colspan="4" rowspan="5">

                <img src="https://images.eyeglasses.com/site/homepage/8-5-22/hero-animation.gif" width="100%"
                    height="100%" alt="">

            </mat-grid-tile>

        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="20">
            <mat-grid-tile class="pf3" colspan="4" rowspan="5">

                <button mat-raised-button color="primary" (click)="onImprimir()">Imprimir Fórmulas</button>
                <button mat-raised-button color="primary" (click)="onImprimirContactenos()">Reporte Contactenos</button>
                <button mat-raised-button color="primary" (click)="onImprimirPQRS()">Reporte PQRS</button>
            </mat-grid-tile>
        </mat-grid-list>



    </div>




